.dark-theme {
background-color: #222;
color: #ddd;
}


button {
padding: 10px 15px;
margin: 10px 5px;
border: none;
border-radius: 5px;
background-color: #007c91;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s;
}


button:hover {
background-color: #004d56;
}